.header {
	position: fixed;
	width: 100%;
	display: grid;
	align-items: center;
	grid-area: header;
	height: 65px;
	background: #262f3d;
	text-align: left;
	box-shadow: 0 0 2rem 0 rgba(53, 64, 82, 0.3);
	z-index: 999;
}

.header > .container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header__logo {
	display: flex;
	align-items: center;
	color: #eee;
	text-decoration: none;
	font-size: 24px;
}

.header__logo img {
	display: inline-block;
	width: 80px;
	margin-right: 10px;
}
.header__logo:hover img {
	filter: blur(1px);
}

.header__login {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 20px;
	color: #fff;
}

.header__login-link {
	color: #eee;
	transition: 0.3s;
}

.header__login-link:hover {
	color: #61dafb;
}

.header__login-link span {
	display: inline-block;
}

.header__login .mdi {
	display: inline-block;
	margin-left: 5px;
	color: #eee;
	font-size: 20px;
	vertical-align: middle;
	transition: 0.3s;
}

.header__login-link:hover .mdi {
	color: #61dafb;
}

.header__login--is-auth {
	display: flex;
	align-items: center;
}

.header__login-avatar {
	width: 35px;
	border-radius: 50%;
	margin-left: 10px;
}